.FormInput  label{
    font-weight: bolder;
}

.FormInput-Error input{
    border-color: crimson;
}

.FormInput-Error label{
    font-weight: bold;
    color : crimson;
}

.FormInput-ErrorMessage {
    color: crimson;
    font-style: italic;
    font-weight: bolder;
    font-size: smaller;
}

.Input-Control {
    width: 70%;
}

.FormInput input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #2e2e2e;
    
  }
  .FormInput input:focus {
    border-color: green
  }
